<!DOCTYPE html>
<html lang="pt-br">
<head>
  <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/principal.css">
  
</head>
<body>
 
 <div class="container container-box">
    <div class="row">
       <div class="col-md-12"> 
      <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Biblioteca</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Página Inicial</a></li>
            <li><a href="/livros">Livros</a></li>
            <li><a href="#contact">Contato</a></li>
            
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>