{{> header}}

  <h1>Livros</h1>

<hr>

<a href="/livros/novo" class="btn btn-primary">Cadastrar</a>

<table  class="table table-striped">

  <theard>
  
    <tr>
      <th>Isbn</th>
      <th>Titulo</th>
      <th>Edição</th>
      <th>#</th>
    </tr>
    
  </theard>
  
  <tbory>
    {{#each livros}}
    <tr>
      <td>{{isbn}}</td>
      <td>{{titulo}}</td>
      <td>{{edicao}}</td>
      <td><a href="/livros/{{ isbn}}/delete" class="btn btn-danger">&times;</a></td>
    </tr>
    {{/each}}
    
  </tbory>
</table-striped>

{{> footer }}