{{> header}}

<div class="container-box">
  <div class="row">
    <div class="col-md-8">
    
  <form action="/livros/novo" method="POST">

  <div class="form-group">
    <label for="isbn">ISBN</label>
    <input class="form-control" type="text" name="isbn" placeholder="Digite o código ISBN">
    <label for="isbn">Título</label>
    <input class="form-control" type="text" name="titulo" placeholder="Digite o titulo">
    <label for="isbn">Edição</label>
    <input class="form-control" type="text" name="edicao" placeholder="Digite o edição">
    
  </div>
  
  <div class="form-group">
  
    <button class="btn btn-success">Salvar</button>
    
  </div>
</form>
</div>
      
    </div>
    <div class="col-md-4"></div>
    
  </div>

{{> footer}}